<div>
  <input type="text" [(ngModel)]="searchQuery" placeholder="Search..." (keyup.enter)="onSearch()">
  <button (click)="onSearch()">Search</button>
</div>

<dx-data-grid
  [dataSource]="dataSource"
  [showBorders]="true"
  [remoteOperations]="true"
  [paging]="{ enabled: true }"
  [pager]="{
        visible: true,
        allowedPageSizes: [5, 10, 25, 50],
        showPageSize: true,
        showNavigationButtons: true
    }"
  [filterRow]="{ visible: true }"
  [sorting]="{ mode: 'multiple' }">
  <dxi-column dataField="id" dataType="number"></dxi-column>
  <dxi-column dataField="name"></dxi-column>
  <dxi-column dataField="description"></dxi-column>
</dx-data-grid>